// styles

.cf
  clearfix()

// big stuff

*
*:after
*:before
input
input[type="search"]
textarea
select
  box-sizing border-box

  &:focus
    outline none

html
  overflow-y scroll
  overflow-x hidden

body
  clearfix()
  width 100%
  font-family body-family
  font-weight 300
  color black
  background-color white
  font-size basefont
  line-height basesize

// p

p
  text-align justify

  small
    line-height f2

//

a, h1, h2, h3, h4, h5, h6, p, dl, ol, ul,
blockquote, pre, img, figure, table, tr, th, td, button
  transition color, background-color trans-speed trans-ease

img
video
audio
embed
object
input
select
table
  max-width 100%
  height auto

p
ul
ol
dl
table
figure
embed
audio
video
canvas
pre
address
  margin 0 0 1

// bottom-margin

.foot
  margin-bottom b1

.foot-2
  margin-bottom b2

.foot-cut
  *:last-child
    margin-bottom 0
