// styles

hr
  thisColor = pale
  color-diamond = pale
  size = b8
  shift = size * 2

  border-width 0
  width 50%
  padding 0
  margin-top f1
  border-margin-bottom f1 1px solid thisColor

  &:before
  &:after
    float left
    position relative
    content ''
    size 0
    border-color transparent
    border-width size
    border-style solid


  &:before
    left 50%
    top -1 * shift
    margin-left -1 * size
    border-bottom-color color-diamond


  &:after
    left 50%
    top 1px
    margin-left -1 * shift
    border-top-color color-diamond

// .sep

.sep
  color gray
  padding-width f8
