// styles

button
.button
	display inline-block
	padding-top f4
	border-padding-bottom f4 1px
	padding-width f2
	border-radius b8
	font-size 1
	line-height 1
	border-style solid
	border-width 0 0 b24 0
	color black
	button-color gray

	&:hover
		text-decoration none

	&.red
		button-color red
	&.orange
		button-color orange
	&.yellow
		button-color yellow
	&.green
		button-color green
	&.blue
		button-color blue
	&.purple
		button-color purple
	&.gray
		button-color gray

	&:disabled
		disabled-background = linear-gradient(to top, mix(gray, white, 75%), mix(gray, white, 50%))
		cursor default
		text-shadow shadow-outset lighten(gray, 75%)
		border-color lighten(gray, 50%)
		background disabled-background

		&:hover
			background disabled-background

		&:active
			background disabled-background

	&.mini
		font-size f34
		line-height f2
		padding-top f6
		border-padding-bottom f6 1px
		padding-width f6

	.button-group &
		margin-right b6

	input&
		width auto
		box-shadow none

// link button

a.button
	&:link, &.link,
	&:visited, &.visited,
	&:hover, &.hover,
	&:active, &.active
		color black !important

// button link

button.link
	button-link-color blue
