// styles

code
kbd
samp
pre
  font-size .9
  border-color red
  border-style solid

code
kbd
samp
  line-height f23
  border-width 1px 0
  border-padding-height f8 1px
  padding-width f4

  a
    link-color red

pre
  font-family mono-family
  border-width 2px 0
  border-padding-height f2 2px
  padding-width f2
  tab-size 2


