// styles

form
  margin 0

fieldset
  border-width 1px 0
  border-color pale
  border-padding-top f2 0
  border-padding-bottom f2 1px
  padding-width 0
  margin 0 0 1

  > *:last-child
    margin-bottom 0

  &.clean
    border 0
    padding-height 0

    &.skinny
      margin-bottom 0

  &.boxed
    border 1px solid pale
    border-radius b4
    border-padding-height f4 1px
    padding-width f3

legend
  font-weight normal
  padding 0 f4 0 0
  font-size 1.5
  color gray

label
  display block
  font-weight bold
  text-transform uppercase
  font-size f90

  &.option
    font-weight normal
    display inline
    font-size 1
    text-transform none

.radio-set
  input[type="radio"]
  input[type="checkbox"]
    float left
    position relative
    top b12
    left b8

  label.option
    display block
    margin-left f1

.form-required
	color red
	font-weight bold
