// styles

@media screen and (min-width: grid-cell-width) and (max-width: (grid-mobile-width - 1))
  .wrap
    margin-width grid-gutter

  .row
    width 100%

  .col
  .col-cell
    width 100%

@media screen and (min-width: grid-mobile-width) and (max-width: (grid-tablet-width - 1))
  grid(mobile, grid-mobile-spread, grid-column, grid-gutter)

@media screen and (min-width: grid-tablet-width) and (max-width: (grid-laptop-width - 1))
  grid(tablet, grid-tablet-spread, grid-column, grid-gutter)

@media screen and (min-width: grid-laptop-width) and (max-width: (grid-desktop-width - 1))
  grid(laptop, grid-laptop-spread, grid-column, grid-gutter)

@media screen and (min-width: grid-desktop-width)
  grid(desktop, grid-desktop-spread, grid-column, grid-gutter)
