// styles

h1
h2
h3
h4
h5
h6
  font-weight 300

h1
  font-size 3
  line-height 2
  margin-height 0 1

h2
  font-size 2.5
  line-height 2
  margin-height 1.5 .5

h3
  font-size 2
  line-height 1.5
  margin-height 1 .5

h4
  font-size 1.5
  line-height 1
  margin-height 1 .5

h5
  font-size 1
  line-height 1
  margin-height 1 .5
  text-align center
  font-style italic

h6
  font-size .75
  line-height 1
  margin-height .5
  text-align center
  font-weight 600
  text-transform uppercase

