// styles

.hide
  hide()

.hide-text
  hide-text()

.hide-eyes
  hide-eyes()

// media

@media screen and (min-width: flex-cell-width) and (max-width: (flex-mobile-width - 1))
  .hide-cell
    hide()
  .show-mobile
    hide()
  .show-tablet
    hide()
  .show-laptop
    hide()
  .show-desktop
    hide()

@media screen and (min-width: flex-mobile-width) and (max-width: (flex-tablet-width - 1))
  .show-cell
    hide()
  .hide-mobile
    hide()
  .show-tablet
    hide()
  .show-laptop
    hide()
  .show-desktop
    hide()

@media screen and (min-width: flex-tablet-width) and (max-width: (flex-laptop-width - 1))
  .show-cell
    hide()
  .show-mobile
    hide()
  .hide-tablet
    hide()
  .show-laptop
    hide()
  .show-desktop
    hide()

@media screen and (min-width: flex-laptop-width) and (max-width: (flex-desktop-width - 1))
  .show-cell
    hide()
  .show-mobile
    hide()
  .show-tablet
    hide()
  .hide-laptop
    hide()
  .show-desktop
    hide()

@media screen and (min-width: flex-desktop-width)
  .show-cell
    hide()
  .show-mobile
    hide()
  .show-tablet
    hide()
  .show-laptop
    hide()
  .hide-desktop
    hide()
