// styles

u
  text-decoration underline

b
strong
  font-weight 600

i
em
  font-style italic

sub
sup
  font-size 50%
  line-height 0
  position relative
  padding 0 1px

sub
  vertical-align bottom
  bottom .5em

sup
  vertical-align top
  top 1em

small
  font-line f34 f2
