// styles

a
  text-decoration none
  cursor pointer
  link-color blue

  &.red
    link-color red
  &.orange
    link-color orange
  &.yellow
    link-color yellow
  &.green
    link-color green
  &.blue
    link-color blue
  &.purple
    link-color purple
  &.black
    link-color black

  &.clear
    color inherit !important

    &:link
    &:hover
    &:active
    &:visited
      color inherit !important
