// styles

ol
ul
  position relative
  padding-left 1.5
  list-style none

  ol
  ul
    margin-bottom 0

  > li
    &:before
      position relative
      float left
      display block

ol
  counter-reset li

  > li
    &:before
      content counter(li) "."
      counter-increment li
      font-size f34
      font-style italic
      text-align right
      width b1
      top b12
      left -b4
      margin-left -b1
      color red

ul
  > li
    &:before
      content ""
      background-color red
      border-radius b1
      size b4
      top b3
      left -b6
      margin-left -b3

ol
ul
  &.comma
    margin-bottom f1
    padding-left 0

    > li
      display inline
      margin 0
      padding 0

      &:before
        content ", "
        background-color inherit
        position inherit
        float none
        display inline
        margin 0
        padding 0

      &:first-child
        &:before
          content ""

  &.inline-block
    display inline-block
    margin-bottom 0
    padding-left 0

    > li
      display inline-block

  &.inline
    display inline
    margin-bottom 0
    padding-left 0

    > li
      display inline

  &.flat
    padding-left 0

    > li
      &:before
        content: none
        display: none
