// styles

ins
  color green
  text-decoration underline

  &[cite]
    hover-info attr(cite) green

del
  color red
  text-decoration line-through

  &[cite]
    hover-info attr(cite) red

s
mark
  border = 1px
  font-line f90 f23
  border-width border 0
  border-style solid
  border-padding-height border f8
  padding-width f4
  text-decoration none

mark
  thisColor = green
  background-color mix(thisColor, white, 15%)
  border-color thisColor

s
  thisColor = red
  background-color mix(thisColor, white, 15%)
  border-color thisColor
