// styles

.message
	border-width 0 0 0 b2
	border-style solid
	margin-bottom 1
	padding-left b2

	&.red
		message-color red

	&.orange
		message-color orange

	&.yellow
		message-color yellow

	&.green
		message-color green

	&.blue
		message-color blue

	&.purple
		message-color purple

	&.black
		message-color black