// styles

q
  quotes '\201C' '\201D' '\2018' '\2019' '\201C' '\201D' '\2018' '\2019'
  quote-double()

  q
    quote-single()

    q
      quote-double()

      q
        quote-single()

cite
q[cite]
  font-style italic
  color green

  &.u
    text-decoration underline
    font-style normal

blockquote
  margin 2 2.5 1.5

  &:before
  &:after
    font-size 5
    color green
    position relative
    line-height 0

  &:before
    content open-quote
    top .25em
    left -.425em
    float left

  &:after
    content no-close-quote

  p
    margin-bottom .5

  cite
    display block
    color green
    border-bottom 0
    text-align right

    &:before
      color green
      content "\2014 \0020"
