// styles

dfn
var
abbr
abbr[title]
  font-line f90 f23
  border-style solid
  border-padding-height f8 1px
  border-padding-width f4 0px
  text-decoration none
  font-style normal
  background-color lighten(blue, 70%)
  border-color blue

abbr[title]
  hover-info attr(title) blue

// time, address

time
  &[datetime]
    hover-info attr(datetime) gray

address
  display block
  font-style normal
