// styles

table
  width 100%
  overflow hidden
  z-index 1
  margin-bottom 1

caption
th
td
  line-height f23
  border-padding-height f4 2px
  padding-width f4

caption
  caption-side bottom
  font-style italic
  font-size f34
  border-top 1px solid gray
  border-padding-top f4 3px
  color gray

th
td
  text-align left

  > a:only-child
    display block

  .th-right
    min-width 33%
    text-align right

thead
  th
  td
    border-padding-bottom f4 4px
    border-bottom 2px solid white

tfoot
  tr
    &:hover
      background mix(pale, white, 50%)

  th, td
    border-padding-top f4 4px
    border-top 2px solid white

tbody
  &.hover
    tr
      cursor pointer

      &:hover
        background mix(pale, white, 50%)

  &.stripe
    tr
      &:nth-child(even)
        background mix(pale, white, 25%)
