// mixins

grid(keyword, spread, column, gutter)
  .wrap
    grid-wrap spread, column, gutter

  .row
    grid-row spread, column, gutter

  .col
    grid-col spread, column, gutter

  grid-make keyword, spread, column, gutter

// helper

grid-make(keyword, spread, column, gutter)
  for col in (1..spread)
    .col-{keyword}-{col}
      grid-col col, column, gutter

    .push-{keyword}-{col}
      grid-offset col, column, gutter

    .pull-{keyword}-{col}
      grid-offset col*-1, column, gutter

grid-offset(offset, column, gutter)
  margin-left (column + gutter) * offset

grid-padding(gutter)
  padding-left (gutter/2)
  padding-right (gutter/2)

// grid components

grid-wrap(spread, column, gutter)
  margin 0 auto
  grid-width spread, column, gutter
  grid-padding gutter
  clearfix()

grid-row(spread, column, gutter)
  margin-left (gutter/-2)
  margin-right (gutter/-2)
  clearfix()

grid-col(spread, column, gutter)
  float left
  grid-width spread, column, gutter
  grid-padding gutter

// grid width

grid-width(spread, column, gutter)
  width (column + gutter) * spread

grid-max-width(spread, column, gutter)
  max-width (column + gutter) * spread

grid-min-width(spread, column, gutter)
  min-width (column + gutter) * spread

// grid height

grid-height(spread, column, gutter)
  height (column + gutter) * spread

grid-max-height(spread, column, gutter)
  max-height (column + gutter) * spread

grid-min-height(spread, column, gutter)
  min-height (column + gutter) * spread
