// mixins

hide()
  display none !important
  visibility hidden !important

hide-text()
  font 0/0 a
  color transparent
  text-shadow none
  background-color transparent
  border 0

hide-eyes()
  visibility hidden
