// mixins

hover-info(content, color)
  //cursor pointer
	//
  //&:after
  //  content content
  //  position fixed
  //  bottom -1px
  //  left 0
  //  right 0
  //  float left
  //  background-color lighten(color, 70%)
  //  color darken(color, 30%)
  //  box-shadow 0 0 3px darken(color, 30%)
  //  padding-width (1/2)
  //  line-height 1.5
  //  text-indent 0
  //  max-height 0
  //  transition max-height trans-speed trans-ease
  //  font-style normal
	//
  //&:hover
  //  &:after
  //    max-height 1.5
