// mixins

placeholder(color)
  &:-moz-placeholder,
  &::-moz-placeholder,
  &:-ms-input-placeholder,
  &::-webkit-input-placeholder
    color color

input-shadow(color)
  border-color: color
  box-shadow shadow-inset, shadow-outset color
