// mixins

quote-double()
  &:before
    content '\201C'
    content open-quote
  &:after
    content '\201D'
    content close-quote

quote-single()
  &:before
    content '\2018'
    content open-quote
  &:after
    content '\2019'
    content close-quote
