// styles

.filter-bar
  .job-input
    margin-bottom 0
    margin-right f1

.job-button
  text-transform uppercase
  font-weight bold
  letter-spacing 1px
  text-align center
  margin-left f1
  flex 0 0 base-calc(5)

.job-input-name
  flex 0 1 100%

  &.fixed
    font-line 1.5
    height base-calc(1.5)
    overflow ellipsis
    margin-right 1

//

.job-edit
  position absolute
  right base-calc(1)
  left base-calc(1)
  top base-calc(3.5)
  bottom 0
  display flex

  .job-input
    &:last-child
      margin-bottom 0

  hr
    margin-top f2

  textarea
    font-size .9

  .job-checkbox
    margin-bottom f1
    display block

    input
      margin-right b4
      position relative
      top -1px

.job-edit-fields
  flex 0 0 base-calc(14)
  padding 1 1 0 1
  background-color white
  border-color fieldedge
  border-style solid
  border-width 1px 0 0 1px
  border-radius b8 0 0 0
  max-height 100%
  overflow-x hidden
  overflow-y scroll

  > .job-input:last-child
    margin-bottom 1

.job-input-region
  margin-bottom b2

  & + hr
    margin-top 1

.job-input-half
  width "calc(50% - %s)" % b4
  margin-right b2
  display inline-block
  margin-bottom b2

  & + .job-input-half
    margin-right 0

.job-edit-code
  flex 1 1 100%
  border-radius 0 b8 0 0
  position relative
  border-top 1px solid fieldedge
  border-right 1px solid fieldedge
  border-left 1px solid fieldedge

//

.job-edit-code-toggles
  position absolute
  top 0
  left 0
  right 0
  height 2
  display flex
  border-radius 0 b8 0 0
  background-color white
  user-select none

.job-edit-code-toggle
  flex 1
  border-bottom 1px solid fieldedge
  transition border trans-anim
  line-height 2
  text-align center
  text-transform uppercase
  cursor pointer
  font-weight bold

  &.active
    border-bottom 5px solid selected

  &:hover
    border-bottom 5px solid selectedbg

//

.field-error
  border-color red !important

//

.ReactCodeMirror
.CodeMirror
  font-line .75
  position absolute
  height auto
  top 0
  left 0
  right 0
  bottom 0

.ReactCodeMirror
  top base-calc(2)

  &.hide
    display none

.CodeMirror
  pre
    margin 0
    padding 0
    border 0

.CodeMirror-sizer
  padding-left unquote("2px !important")

.CodeMirror
  background darken(selected, 66%)
  color white

  div
    &.CodeMirror-selected
      background darken(logo, 60%)

  .CodeMirror-gutters
    background darken(selected, 66%)
    border-right 1px solid fieldedge

  .CodeMirror-guttermarker
    color #ffee80

  .CodeMirror-guttermarker-subtle
    color fieldedge

  .CodeMirror-linenumber
    color fieldedge

  .CodeMirror-cursor
    border-left 1px solid white

  span
    &.cm-comment
      color #0088ff
    &.cm-atom
      color #845dc4
    &.cm-keyword
      color #ffee80
    &.cm-string
      color #3ad900
    &.cm-meta
      color #ff9d00
    &.cm-bracket
      color #d8d8d8
    &.cm-link
      color #845dc4
    &.cm-error
      color #9d1e15

  span.cm-number
  span.cm-attribute
    color #ff80e1

  span.cm-variable-2
  span.cm-tag
    color #9effff

  span.cm-variable-3
  span.cm-def
    color white

  span.cm-builtin
  span.cm-special
    color logo

  .CodeMirror-activeline-background
    background darken(selected, 60%)

  .CodeMirror-matchingbracket
    outline 1px solid fieldedge
    color white !important

.CodeMirror-line::selection
.CodeMirror-line > span::selection
.CodeMirror-line > span > span::selection
  background darken(logo, 60%)

.CodeMirror-line::-moz-selection
.CodeMirror-line > span::-moz-selection
.CodeMirror-line > span > span::-moz-selection
  background darken(logo, 60%)
