// vars

// typo

bold = 600

// color

logo = rgb(233, 98, 71)

error = rgb(231, 157, 158)
errorbg = rgb(255, 241, 241)

selected = rgb(53, 160, 220)
selectedbg = mix(selected, white)

// grayscale

siteheadbg = rgb(53, 60, 60)
sitemainbg = rgb(235, 235, 235)

textco = rgb(86, 86, 86)
textbg = white
textinvco = white
textinvbg = rgb(112, 112, 112)

fieldedge = rgb(201, 201, 201)

rowodd = white
roweven = rgb(249, 249, 249)

zebrarow = rgb(247, 247, 247)

// sizes

site-header-height = 60px

// input

shadow-inset = inset 0 0 0 white
shadow-outset = 0 0 0

// mixins

hoverblock()
  display block
  position relative
  margin-bottom 1px

  &:before
  &:after
    content ''
    display block
    position absolute
    width "calc(100% + %s)" % 1px
    height b1 + b2 + 1px
    pointer-events none

  &:before
    top -1px
    left -1px
    border-top 1px solid fieldedge
    border-left 1px solid fieldedge

  &:after
    bottom -1px
    right -1px
    border-bottom 1px solid fieldedge
    border-right 1px solid fieldedge

  &:hover
    background-color lighten(selectedbg, 80%) !important
    z-index 1

    &:before
    &:after
      border-color selected
