// styles

table
  border-radius b6 b6 0 0

thead
  border-left 1px solid textinvbg
  border-right 1px solid textinvbg

  th
  td
    border-bottom 0
    color textinvco
    background-color textinvbg
    text-transform uppercase

tbody
  border 1px solid fieldedge
  background-color white
