// styles

.site-header
  flex-flow row nowrap
  align-items stretch
  background-color siteheadbg
  position fixed
  left 0
  right 0
  top 0
  height site-header-height
  z-index 1000
  user-select none

.site-header-logo
  width 178px
  height site-header-height
  background-color logo
  display block
  float left
  font-size 3
  line-height 2.5
  text-align center
  link-color(white)
  margin-right 1

.site-header-links
  height site-header-height
  display block
  float left

.site-header-link
  display inline-block
  height site-header-height
  line-height 2.5
  margin-right 1
  link-color(white)
  text-transform uppercase
  min-width 5
  text-align center
  transition border trans-anim
  border-bottom 0px solid transparent

  &.active
    border-bottom 5px solid logo

  &:hover
    border-bottom 5px solid selected
