@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTaOCaDZZVv73zpFSwE4Va2k.woff2) format('woff2')
	unicode-range U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTdWlIHla9B101mdmTHF3-q0.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTVMRqIICSqEqsEoDxn8ddME.woff2) format('woff2')
	unicode-range U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTaWHppw2c1XOp6B2yhU8z7c.woff2) format('woff2')
	unicode-range U+1F00-1FFF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTeji7H8UD0RUWSM-55zrR4g.woff2) format('woff2')
	unicode-range U+0370-03FF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTcw0n1X1lV_hRH3yZFpIE9Q.woff2) format('woff2')
	unicode-range U+0102-0103, U+1EA0-1EF1, U+20AB

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTSYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2')
	unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 300
	src local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqOCaDZZVv73zpFSwE4Va2k.woff2) format('woff2')
	unicode-range U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNStWlIHla9B101mdmTHF3-q0.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSlMRqIICSqEqsEoDxn8ddME.woff2) format('woff2')
	unicode-range U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSqWHppw2c1XOp6B2yhU8z7c.woff2) format('woff2')
	unicode-range U+1F00-1FFF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSuji7H8UD0RUWSM-55zrR4g.woff2) format('woff2')
	unicode-range U+0370-03FF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSsw0n1X1lV_hRH3yZFpIE9Q.woff2) format('woff2')
	unicode-range U+0102-0103, U+1EA0-1EF1, U+20AB

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNSiYtBUPDK3WL7KRKS_3q7OE.woff2) format('woff2')
	unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 600
	src local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v10/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxh-d0Ps7SYMINeh7goWOihc.woff2) format('woff2')
	unicode-range U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxvLBl1WW9IMtpizwVvmL2lA.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxvvn6LI2LprBJXb3dYRSpOE.woff2) format('woff2')
	unicode-range U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxiHDFpeaZstBgByDevYxtuM.woff2) format('woff2')
	unicode-range U+1F00-1FFF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxmvOVdJ7vwdAUM1_0w6rHJ0.woff2) format('woff2')
	unicode-range U+0370-03FF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxuIzlBUWm_bhlDgXdZvgJTg.woff2) format('woff2')
	unicode-range U+0102-0103, U+1EA0-1EF1, U+20AB

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxrIoAo9wAeLGDYpbspX6MZU.woff2) format('woff2')
	unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 300
	src local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxtTIkQYohD4BpHvJ3NvbHoA.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxuJu9MmECH0mOg1XzzGCJOE.woff2) format('woff2')
	unicode-range U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxvb88fn1iiNG2PkxxK9YFAg.woff2) format('woff2')
	unicode-range U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxs_pjakFHbdvVTv6ANKcJgo.woff2) format('woff2')
	unicode-range U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxsezutRp_bTh7j9axvTIfAk.woff2) format('woff2')
	unicode-range U+1F00-1FFF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxjRZ1lZfqALcwN_WamuTm_4.woff2) format('woff2')
	unicode-range U+0370-03FF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxr8-ERRCpNAGxrb0cJJpWhM.woff2) format('woff2')
	unicode-range U+0102-0103, U+1EA0-1EF1, U+20AB

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxsnmlH4evaVTD0ek7Sy0uMg.woff2) format('woff2')
	unicode-range U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF

@font-face
	font-family 'Open Sans'
	font-style italic
	font-weight 600
	src local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(https://fonts.gstatic.com/s/opensans/v10/PRmiXeptR36kaC0GEAetxsiAiQ_a33snTsJhwZvMEaI.woff2) format('woff2')
	unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

